*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    /* grid-template-columns: repeat(3,200px); */
    /* grid-template-rows: repeat(2,300px); */
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    /* grid-template-columns: 100px 200px auto; */
    grid-template-columns: repeat(3,minmax(150px,300px));

}

.items{
    /* width: 200px; */
    height: 200px;
    background-color: gray;
}